.navbar {
	width: 50px !important;
	max-width: 50px !important;
	min-width: 50px !important;
	overflow: visible !important;

}

.navbar-item {
	padding: 0px !important;
	margin: 0px;
}

.navbar-button {
	padding: 5px 13px 5px 13px !important;
	margin: 0px !important;
	min-height: 0px !important;
	min-width: 0px !important;
}

.navbar-svg {
	color: #dddddd;
}

#custom-toolbar-draggable {
	-webkit-app-region: drag !important;
	min-height: 36px !important;
	max-height: 36px !important;
	height: 36px !important;
}

.toolbar-svg {
	min-height: 12px !important;
	max-height: 12px !important;
	min-width: 12px !important;
	max-width: 12px !important;
}

.toolbar-button{
	margin: 0px !important;
	padding: 0px 10px 0px 10px !important;
	min-width: 12px !important;
	-webkit-app-region: no-drag;
}

.grid {
    list-style: none;
    box-sizing: border-box;
    -moz-box-sizing : border-box;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.grid-img {
    width: 100%;
    vertical-align: middle;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
    opacity: 0;
    visibility: hidden;
}

.grid-img.img-loaded{
    visibility: visible;
    opacity: 1;
}

.grid.ng-leave {
  -webkit-transition: none;
  transition: none;
}
.grid.ng-leave.ng-leave-active {
  -webkit-transform: none;
  opacity: 0;
}

.img-desc-wrap{
	box-sizing: border-box;
	display: block;
	text-align: right;
	background-color: #212121;
}

.card-button{
	padding: 2px 2px 2px 2px;
	color: #6d6d6d;
}

.card-button:hover{
	padding: 2px 2px 2px 2px;
	color: #dedede;
}

.dynamic-grid{
	margin-right: 10px;
	margin-left: 10px;
}