.navbar {
	width: 50px !important;
	max-width: 50px !important;
	min-width: 50px !important;
	overflow: visible !important;
}

.navbar-secondary {
  border-left: 3px solid rgb(77, 88, 97);
}

.navbar-item {
	padding: 0px !important;
	margin: 0px;
}

.navbar-button {
	padding: 5px 13px 5px 13px !important;
	margin: 0px !important;
	min-height: 0px !important;
	min-width: 0px !important;
}

.navbar-svg {
	color: #dddddd;
}

.navbar-font {
  font-size: 20px;
}

#custom-toolbar-draggable {
	-webkit-app-region: drag !important;
	min-height: 36px !important;
	max-height: 36px !important;
	height: 36px !important;
}

.toolbar-svg {
	min-height: 12px !important;
	max-height: 12px !important;
	min-width: 12px !important;
	max-width: 12px !important;
}

.toolbar-button{
	margin: 0px !important;
	padding: 0px 10px 0px 10px !important;
	min-width: 12px !important;
	-webkit-app-region: no-drag;
}

.img-checkbox{
  position: absolute;
  top: 10px;
  left: 10px;
}

.grid {
    list-style: none;
    box-sizing: border-box;
    -moz-box-sizing : border-box;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.grid-img {
    width: 100%;
    vertical-align: middle;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
    opacity: 0;
    visibility: hidden;
}

.grid-img.img-loaded{
    visibility: visible;
    opacity: 1;
}

.grid.ng-leave {
  -webkit-transition: none;
  transition: none;
}
.grid.ng-leave.ng-leave-active {
  -webkit-transform: none;
  opacity: 0;
}

.img-desc-wrap{
	box-sizing: border-box;
	display: block;
	text-align: right;
	background-color: #212121;
}

.card-icon{
	padding: 2px 2px 2px 2px;
	color: #6d6d6d;
}

.card-icon:hover{
	padding: 2px 2px 2px 2px;
	color: #dedede;
}

.card-button {
	margin: 0px !important;
    padding: 0px !important;
    line-height: 20px !important;
    min-height: 0px !important;
    min-width: 0px !important;
}

.dynamic-grid{
	margin-right: 10px;
	margin-left: 10px;
}

.tooltip {
    position: relative;
    opacity: 1;
    font-size: 14px !important;
}

md-tooltip .md-content {
    height: auto !important;
    max-width: 500px !important;
    padding : 5px;
}

::-webkit-scrollbar {
    width: 20px;
    height: 18px;
}
::-webkit-scrollbar-thumb {
    height: 6px;
    border: 6px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.28);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}
