.toolbar {
	width: 50px !important;
	max-width: 50px !important;
	min-width: 50px !important;
	overflow: visible !important;

}

.toolbar-item {
	padding: 0px !important;
	margin: 0px;
}

.toolbar-button {
	padding: 5px 13px 5px 13px !important;
	margin: 0px !important;
	min-height: 0px !important;
	min-width: 0px !important;
}
