.navbar {
	width: 50px !important;
	max-width: 50px !important;
	min-width: 50px !important;
	overflow: visible !important;

}

.navbar-item {
	padding: 0px !important;
	margin: 0px;
}

.navbar-button {
	padding: 5px 13px 5px 13px !important;
	margin: 0px !important;
	min-height: 0px !important;
	min-width: 0px !important;
}

.navbar-svg {
	color: #dddddd;
}

#custom-toolbar-draggable {
	-webkit-app-region: drag !important;
	min-height: 36px !important;
	max-height: 36px !important;
	height: 36px !important;
}

.toolbar-svg {
	min-height: 12px !important;
	max-height: 12px !important;
	min-width: 12px !important;
	max-width: 12px !important;
}

.toolbar-button{
	margin: 0px !important;
	padding: 0px 10px 0px 10px !important;
	min-width: 12px !important;
	-webkit-app-region: no-drag;
}

md-content {
  background: #eeeeee;
  position: relative;
}
.fit {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#summary {
  margin: 32px 72px;
}
#content-scroller {
}

.card {
  background: white;
  min-width: 100px;
  min-height: 100px;
  margin: 8px;
  transition: .4s;
  opacity: 0;
  border-radius: 2px;
  // box-shadow: 0 2px 4px -1px rgba(0,0,0,.14),0 4px 5px 0 rgba(0,0,0,.098),0 1px 10px 0 rgba(0,0,0,.084);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
  overflow: hidden;
  backface-visibility: hidden;

  &.angular-grid-item {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }
  .img {
    width: 100%;
    height: 0;
    padding-top: 75%;
    background-size: cover;
    background-color: #ccc;
  }
  .inside {
    padding: 16px;
    word-wrap: break-word;
    h3 {
      margin-top: 0;
      margin-bottom: 8px;
    }
    a {
      color: #E91E63;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .description {
      font-size: 14px;
      line-height: 1.3;
      color: #555;
    }
  }
}

.cards-wrap {
  margin: 32px 64px;
  padding-bottom: 64px;
  position: relative;
  .loading-more-indicator {
    position: absolute;
    bottom: 0 !important;
    left: 50% !important;
    top: auto !important;
    width: auto !important;
    margin-left: -25px;
    md-progress-circular {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
}

.grid {
    border: 1px solid #cccccc;
    list-style: none;
    background: #ffffff;
    box-sizing: border-box;
    -moz-box-sizing : border-box;
    -webkit-transition: all 0.6s ease-out; 
    transition: all 0.6s ease-out; 
}
.grid-img {
    width: 100%;
    vertical-align: middle;
    -webkit-transition: opacity 0.6s ease-out;  
    transition: opacity 0.6s ease-out;
    background-color: #fff;
    opacity: 0; 
    visibility: hidden;
}
 
.grid-img.img-loaded{
    visibility: visible;
    opacity: 1;
}