.navbar {
	width: 50px !important;
	max-width: 50px !important;
	min-width: 50px !important;
	overflow: visible !important;

}

.navbar-item {
	padding: 0px !important;
	margin: 0px;
}

.navbar-button {
	padding: 5px 13px 5px 13px !important;
	margin: 0px !important;
	min-height: 0px !important;
	min-width: 0px !important;
}

.navbar-svg {
	color: #dddddd;
}

#custom-toolbar-draggable {
	-webkit-app-region: drag !important;
	min-height: 36px !important;
	max-height: 36px !important;
	height: 36px !important;
}

.toolbar-svg {
	min-height: 12px !important;
	max-height: 12px !important;
	min-width: 12px !important;
	max-width: 12px !important;
}

.toolbar-button{
	margin: 0px !important;
	padding: 0px 10px 0px 10px !important;
	min-width: 12px !important;
	-webkit-app-region: no-drag;
}

.grid-item { width: 25%; }
.grid-item--width2 { width: 50%; }