<md-content id="content-scroller">
<div 
         class="cards-wrap" 
         angular-grid="shots" 
         gutter-size="8" 
         angular-grid-id="shots" 
         infinite-scroll-container="#content-scroller" 
         infinite-scroll-threshold="500"
         infinite-scroll="loadMoreShots()">
      <div class="card" ng-repeat="shot in shots track by $index">
        <img class="img" ng-src="{{shot.path}}">
        
      <div class="loading-more-indicator" ng-show="loadingMore">
        <md-progress-circular md-mode="indeterminate" md-diameter="64" class="progress-swatch"></md-progress-circular>
      </div>
    </div>
</md-content>