<md-toolbar id="custom-toolbar-draggable" layout="row" layout-align="end center">
   <md-button class="toolbar-button" ng-click="reduceW()">
      <md-icon md-svg-src="assets/svg/negative-sign.svg" class="toolbar-svg"></md-icon>
   </md-button>
   <md-button class="toolbar-button" ng-click="maxW()">
      <md-icon md-svg-src="assets/svg/add-song.svg" class="toolbar-svg"></md-icon>
   </md-button>
   <md-button class="toolbar-button" ng-click="closeW()">
      <md-icon md-svg-src="assets/svg/cancel-music.svg" class="toolbar-svg"></md-icon>
   </md-button>
</md-toolbar>
<div flex layout="row">

   <!--  ###################################
         MAIN SIDEBAR
         ####################################!-->

   <div class="navbar-container" ng-controller="MainNavCtrl" layout="row">
      <md-sidenav md-is-locked-open="true" class="md-sidenav-left md-whiteframe-2dp navbar">
         <md-list>
            <md-list-item class="navbar-item">
               <md-button class="navbar-button" ng-click="selectFolderToExplore()">
                  <md-tooltip md-direction="right" class="tooltip">Ouvrir...</md-tooltip>
                  <md-icon md-svg-src="assets/svg/open-folder.svg" class="navbar-svg"></md-icon>
               </md-button>
            </md-list-item>
            <md-list-item class="navbar-item">
               <md-button class="navbar-button" ng-click="toggleFilterNav()">
                  <md-tooltip md-direction="right" class="tooltip">Filtrer...</md-tooltip>
                  <md-icon md-svg-src="assets/svg/filter-filled-tool-symbol.svg" class="navbar-svg"></md-icon>
               </md-button>
            </md-list-item>
            <md-list-item class="navbar-item">
               <md-button class="navbar-button" ng-click="toggleSortNav()">
                  <md-tooltip md-direction="right" class="tooltip">Trier...</md-tooltip>
                  <md-icon class="zmdi zmdi-swap-vertical zmdi-hc-2-5x navbar-svg"></md-icon>
               </md-button>
            </md-list-item>
            <md-list-item class="navbar-item">
               <md-button class="navbar-button">
                  <md-tooltip md-direction="right" class="tooltip">Multi-sélection</md-tooltip>
                  <md-icon md-svg-src="assets/svg/check.svg" class="navbar-svg" ng-click="toggleMultiSelect()"></md-icon>
               </md-button>
            </md-list-item>
            <md-list-item class="navbar-item">
               <md-button class="navbar-button" ng-click="showSettings()">
                  <md-tooltip md-direction="right" class="tooltip">Paramètres</md-tooltip>
                  <md-icon md-svg-src="assets/svg/parameters.svg" class="navbar-svg"></md-icon>
               </md-button>
            </md-list-item>
         </md-list>
      </md-sidenav>
   </div>

   <!--  ###################################
         GALLERY
         ####################################!-->

   <md-content id="gallery-wrap" ng-controller="GalleryCtrl" flex>
      <md-sidenav md-is-locked-open="false" class="md-sidenav-left md-whiteframe-2dp navbar-secondary" md-component-id="filternav">
         <md-list>
            <md-list-item flex>
               <md-button class="navbar-button" ng-click="selectFolderToExplore()">
                  <md-icon class="zmdi zmdi-refresh zmdi-hc-2-5x navbar-svg"></md-icon>
                  Réinitialiser
               </md-button>
            </md-list-item>
            <md-list-item class="navbar-item">
               <md-button class="navbar-button">
                  <md-tooltip md-direction="right" class="tooltip">Par nom</md-tooltip>
                  <md-icon md-svg-src="assets/svg/filter-filled-tool-symbol.svg" class="navbar-svg"></md-icon>
               </md-button>
            </md-list-item>
         </md-list>
      </md-sidenav>
      <md-sidenav md-is-locked-open="false" class="md-sidenav-left md-whiteframe-2dp navbar navbar-secondary" md-component-id="sortnav">
         <md-list>
            <md-list-item class="navbar-item">
               <md-button class="navbar-button" ng-click="showSettings()">
                  <md-tooltip md-direction="right" class="tooltip">Paramètres</md-tooltip>
                  <span class="zmdi-hc-stack zmdi-hc-lg">
                     <md-icon class="zmdi zmdi-square-o zmdi-hc-stack-2x"></md-icon>
                     <md-icon class="zmdi zmdi-share zmdi-hc-stack-1x"></md-icon>
                  </span>
               </md-button>
            </md-list-item>
            <md-list-item class="navbar-item">
               <md-button class="navbar-button" ng-click="showSettings()">
                  <md-tooltip md-direction="right" class="tooltip">Paramètres</md-tooltip>
                  <md-icon md-svg-src="assets/svg/parameters.svg" class="navbar-svg"></md-icon>
               </md-button>
            </md-list-item>
            <md-list-item class="navbar-item">
               <md-button class="navbar-button" ng-click="showSettings()">
                  <md-tooltip md-direction="right" class="tooltip">Paramètres</md-tooltip>
                  <md-icon md-svg-src="assets/svg/parameters.svg" class="navbar-svg"></md-icon>
               </md-button>
            </md-list-item>
         </md-list>
      </md-sidenav>
      <ul class="dynamic-grid" angular-grid="shots" ag-grid-width="300" ag-gutter-size="10" ag-id="gallery" ag-scroll-container="#gallery-wrap" ag-infinite-scroll="loadMore()">
         <li data-ng-repeat="shot in shots" class="grid" ng-style="{ 'box-shadow': shot.isActive ? '0px 0px 4px 2px white' : '', transition: shot.isActive ? 'none' : '' }">
            <img ng-src="{{ shot.path }}" class="grid-img" ng-click="activeImg(shot)" ng-dblclick="displayImg(shot)"/>
            <md-checkbox class="img-checkbox" ng-show="$parent.multiSelect" ng-model="shot.isActive"></md-checkbox>

            <div class="img-desc-wrap">
               <div>
                     <div ng-show="shot.hasChanged" class="changed-dot"></div>
                     <md-icon class="card-icon material-icons" data-ng-style="shot.hasGeo && {'color':'#ff5a5a'}">place</md-icon>
                     <md-icon class="card-icon material-icons" data-ng-style="shot.hasStars && {'color':'#efbd40'}">star</md-icon>
                     <md-icon class="card-icon material-icons" data-ng-style="shot.hasTags && {'color':'#2687e2'}">style</md-icon>
                  <md-button class="card-button" style="background:transparent">
                     <md-tooltip md-direction="top" class="tooltip">{{ shot.path }}</md-tooltip>
                     <md-icon class="card-icon material-icons" style="color: #dedede">info</md-icon>
                  </md-button>
               </div>
            </div>
         </li>
      </ul>
   </md-content>

   <!--  ###################################
         DISPLAY SIDEBAR
         ####################################!-->

   <md-sidenav class="md-sidenav-right md-whiteframe-2dp" md-is-locked-open="true">
      <div ng-controller="RightNavCtrl" style="padding-top: 15px">
         <div class="image-preview" layout="row">
             <md-icon ng-hide="$parent.imgDetailsToShow != null" class="card-icon material-icons" style="color: #dedede; font-size: 96px; height: 96px; width: 96px">photo</md-icon>
             <img ng-show="$parent.imgDetailsToShow != null" src="{{ $parent.imgDetailsToShow.path }}">
         </div>
         <div>
            <md-toolbar layout="row" class="right-sidenav-cat">
               <div class="md-toolbar-tools">
                  <h3>Note</h3>
                  <span flex></span>
                  <md-button class="md-icon-button" style="background:transparent">
                     <md-icon class="material-icons">mode_edit</md-icon>
                  </md-button>
               </div>
            </md-toolbar>
            <md-toolbar class="right-sidenav-cat">
               <div class="md-toolbar-tools">
                  <h3>Tags</h3>
                  <span flex></span>
                  <md-button class="md-icon-button" style="background:transparent" ng-click="toggleEdit()">
                     <md-icon class="material-icons">mode_edit</md-icon>
                  </md-button>
               </div>
            </md-toolbar>
            <div class="detail-tags">
                <md-chips ng-model="$parent.imgDetailsToShow.tags" readonly="!editTags" md-removable="editTags" placeholder="Entrer un tag...">
                    <md-chip-template>
                      <strong>{{$chip}}</strong>
                    </md-chip-template>
              </md-chips>
              <div ng-show="editTags">
                  <md-divider style="margin-bottom: 8px;"></md-divider>
                  <span class="md-body-1" style="margin-left: 8px;">Derniers tags</span>
                  <div class="tag-buttons">
                      <md-button ng-repeat="tag in $parent.getSetAsArr($parent.existingTags)" style="background:transparent" ng-click="addTag(tag)">
                             {{ tag }}
                      </md-button>
                  </div>
                  <span class="md-body-1" style="margin-left: 8px;">Tous les tags</span>
                  <div class="tag-buttons">
                      <md-button ng-repeat="tag in $parent.getSetAsArr($parent.existingTags)" style="background:transparent" ng-click="addTag(tag)">
                             {{ tag }}
                      </md-button>
                  </div>
              </div>
            </div>

            <md-toolbar layout="row" class="right-sidenav-cat">
               <div class="md-toolbar-tools">
                  <h3>Position</h3>
                  <span flex></span>
                  <md-button class="md-icon-button" style="background:transparent">
                     <md-icon class="material-icons">mode_edit</md-icon>
                  </md-button>
               </div>
            </md-toolbar>

         <md-button ng-click="saveDetails()" class="md-raised" style="position: absolute; bottom: 0; right: 0;">
         Sauver</md-button>
         </div>
      </div>
   </md-sidenav>
</div>
