
    <div flex layout="row">
        <md-sidenav md-is-locked-open="true" class="md-whiteframe-z2 toolbar">
            <md-list>

        <md-list-item class="toolbar-item">
            <md-button class="toolbar-button">
              <md-icon md-svg-src="assets/svg/menu_black.svg"></md-icon>
            </md-button>
        </md-list-item>

        <md-list-item class="toolbar-item">
            <md-button class="toolbar-button">
                <md-icon md-svg-src="assets/svg/parameters_black.svg"></md-icon>
            </md-button>
        </md-list-item>

      </md-list>
        </md-sidenav>

        <!-- Container #4 -->
        <md-content flex id="content"></md-content>

    </div>

